.page-layout {
    margin: auto;
    width: 70%;
}

.body-background {
    margin: auto;
    width: 70%;
    height: 100%;
    background-color: rgb(219, 225, 240);
}

.center {
    margin: auto;
    width: 70%;
}

.text-center {
    text-align: center;
}

.movie-db-title {
    font-size: 50px;
    color: rgb(1, 1, 138);
}

.movie-table table {
    margin: auto;
    border: 1px solid black; 
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 27px;
}

.movie-table-header {
    margin: auto;
}

.movie-table {
    border-collapse: collapse;
}

.table-heading {
    color: rgb(117, 0, 117)
}

.table-data {
    margin: 0px;
    padding: 0px;
    border: solid 2px black;
}

.movie-form {
    font-size: 24px;
}

.btn {
    height: 30px;
    width: 100px;
    margin: 3px;
}

.btn-blue {
    color: white;
    background-color: blue;
    border: solid 3px rgb(0, 0, 170);
    border-radius: 6px;
    cursor: pointer;
}

.btn-blue:hover {
    color: white;
    background-color: rgb(0, 0, 170);
    border: solid 3px rgb(0, 0, 170);
    border-radius: 6px;
}

.btn-green {
    color: black;
    background-color: rgb(0, 184, 0);
    border: solid 3px green; 
    border-radius: 6px;
    cursor: pointer;
}

.btn-green:hover {
    color: black;
    background-color: green;
    border: solid 3px green; 
    border-radius: 6px;
}

.btn-red {
    color: black;
    background-color: red;
    border: solid 3px rgb(187, 0, 0); 
    border-radius: 6px;
    cursor: pointer;
}

.btn-red:hover {
    color: black;
    background-color: rgb(187, 0, 0);
    border: solid 3px rgb(187, 0, 0); 
    border-radius: 6px;
}

.btn-yellow {
    color: black;
    background-color: rgb(247, 247, 78);
    border: solid 3px rgb(192, 192, 63); 
    border-radius: 6px;
    cursor: pointer;
}

.btn-yellow:hover {
    color: black;
    background-color: rgb(192, 192, 63);
    border: solid 3px rgb(192, 192, 63); 
    border-radius: 6px;
}

.btn-right {
    float: right;
}

.msg-red {
    color: red;
}